*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
.container{
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(180deg,#D59FFF,#FF9999);
    padding: 10px;
}
.todo-app{
    width: 100%;
    max-width: 560px;
    background: white;
    margin: 100px auto 20px;
    padding: 40px 28px 72px;
    border-radius: 32px;
}
.todo-app h2{
    color: rgb(255, 149, 0);
    display: flex;
    align-items: center;
    /* justify-content: center; */
    margin-bottom: 20px;
}
.todo-app h2 img{
    width: 32px;
    margin-left: 12px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 32px;
    padding-left: 20px;
    margin-bottom: 24px;
    background-color: #edeef0;

}
.row input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 12px;
}
.row button{
    border: none;
    outline: none;
    padding: 16px 48px;
    background: rgba(255, 149, 0, 0.633);
    color: white;
    cursor: pointer;
    border-radius: 32px;
}

#list-container li{
    list-style: none;
    font-size: 18px;
    padding: 12px 8px 12px 48px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
#list-container li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50px;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}
#list-container .checked{
    text-decoration: line-through;
    color: #555;
}

#list-container .checked::before{
    background-image: url(images/checked.png);
}
#list-container span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50px;

}
#list-container span:hover{
    background: #edeef0;
   
}